a {
  display: block;
  color: red;
  }

a+b {
  color: blue;
  }

 a>b+c>a {

  color: olive;
  }

a>c>a>b+a+a, a>c a a:nth-child(1), b b {
  
  color: black;
  }

d {
  display: block;
  text-transform: uppercase;
color: black;
  }
